:root{
    --color-fondo: #ddebff;
    --color-oscuro: #303040;
    --color-azul: #0d6efd;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-oscuro);
    font-size: 12pt;
    padding: 0;    
    min-height: 100vh;
    position: relative;
    padding-bottom: 15vh;
}

#titulo{
    color: black;    
}

#iniciar_sesion{
    max-height: 3em;
}

#header{
    background-color: var(--color-fondo);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0.2em solid var(--color-oscuro);
}

@media (max-width: 575.98px) {
    #header{
	text-align: center;
    }
}

#navbar{
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--color-oscuro);
    color: white;
    text-align: center;
}

.navlink{
    color: white;
    height: 100%;
}

.navlink:hover, #navbar-button:hover{
    background-color: var(--color-azul);
    color: black;
}

#navbar-button{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

@media (max-width: 575.98px) {
    #navbar-button{
	width: 100%;
    }
}

@media (max-width: 991.98px) {
    .navlink{
	width: 100%;
    }
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

.item-seccion{
    display: block;
    padding: 0;
    border: 0.2em solid var(--color-azul);
    background-color: var(--color-fondo);
    aspect-ratio: 1;
}

.item-seccion:hover{
    animation-name: agrandar-1-1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.item-seccion:not(:hover){
    animation-name: desagrandar-1-1;
    animation-duration: 0.5s;
}

@keyframes desagrandar-1-1{
    0%{
	transform: scale(1.1);
    }
    100%{
	transform: scale(1);
    }
}

@keyframes agrandar-1-1{
    0%{
	transform: scale(1);
    }
    100%{
	transform: scale(1.1);
    }
}

.item-seccion-titulo{
    background-color: var(--color-azul);
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    padding: 0.2em;
    font-weight: bold;
}

.item-seccion-img{
    max-width: 80%;
    margin: 1em;
    aspect-ratio: 1;
}

#footer{
    width: 100%;
    height: 15vh;
    min-height: initial;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--color-oscuro);
    border-top: var(--color-azul) solid 0.2em;
    color: white;
    position: absolute;
    bottom: 0px;
}

.footer-link{
    color: white;
    text-decoration: underline;
}

.footer-link:hover{
    color: var(--color-azul);
    text-decoration: underline;
}

.width-100{
    width: 100%;
}
